<h1>New comment</h1>

<% if @comment.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <% @comment.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
</div>
<% end %>


<%= form_for [@post, @comment], html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :author, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :author, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :text, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :text, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary"%>
      <%= link_to 'Back', post_path(@post), class: "btn btn-primary" %>
    </div>
  </div>

<% end %>