<h1>All posts</h1>

<table class="table table-striped">
	<tr>

		<th><%= sortable "title", "Post" %></th>
		<th><%= sortable "created_at", "Date" %></th>
		<th>Actions</th>
		<th colspan="2"><%= sortable "vote", "Upvotes" %></th>
	</tr>
<% @posts.each do |post|%>
	<tr>
		<td><a href="<%= post.link %>"><%= post.title %></a></td>
		<td><%= post.created_at.strftime("%b %e, %Y") %></td>
		<td>
			<div class="btn-group">
				<%= link_to 'Show', post_path(post), class: "btn btn-primary" %>
				<%= link_to 'Edit', edit_post_path(post) , class: "btn btn-primary" %>
				<%= link_to 'Delete', post_path(post),
	                    method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-primary"%>
	        </div>
	    </td>
	    <td id="vote_<%=post.id%>"><%=pluralize(post.vote, "vote")%></td>
	    <td>
	    	<div class="btn-group">
	    		<button class="btn btn-default glyphicon glyphicon-thumbs-up" id="<%=post.id%>/upvote"></button>
	    		<button class="btn btn-default glyphicon glyphicon-thumbs-down" id="<%=post.id%>/downvote"></button>
			</div>
		</td>	
	</tr>
<% end %>
</table>
<br />
<%= link_to 'New post', new_post_path , class: "btn btn-primary"%><br />


<script type="text/javascript">
$('.glyphicon').click(function(e){

	var request = $.ajax({
		url: "/posts/" + e.target.id,
		type: "POST",
		data: {},
		dataType: "json"
	});

	request.done(function(data){
		$('#vote_'+data.id)[0].textContent = data.vote+" votes"
	})

	request.fail(function(data){
		$('.message').append("<p> There was an error upvoting/downvoting the post.</p>")
	})

});
</script>
