<h1>All posts</h1>

<table>
	<tr>
		<th>Title</th>
		<th>Link</th>
		<th colspan="6">Actions</th>
	</tr>
<% @posts.each do |post|%>
	<tr>
		<td><%=post.title%></td>
		<td><%=post.link%></td>
		<td><%= link_to 'Show', post_path(post) %></td>
		<td><%= link_to 'Edit', edit_post_path(post) %></td>
		<td><%= link_to 'Delete', post_path(post),
	                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <td><%=post.vote%> votes</td>
	    <td><%= link_to 'Upvote', upvote_post_path(post) %></td>
	    <td><%= link_to 'Downvote', downvote_post_path(post) %></td>
	</tr>
<% end %>
</table>
<br />
<%= link_to 'New post', new_post_path %><br />
