<h1>Show post</h1>

<h3>
  <a href="<%= @post.link %>"><%= @post.title %></a>
</h3>
<p>
  <%=pluralize(@post.vote, "vote")%>
</p>
<%= link_to 'Add a comment', new_post_comment_path(@post), class: "btn btn-primary"%>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
<br /><br />
<div class="well">
	<h3>Comments</h3>
	<%= render :partial => 'comments/comment', :object => @post %>
</div>
<%= link_to 'Add a comment', new_post_comment_path(@post), class: "btn btn-primary"%>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
