<h1>Show post</h1>

<h3>
  <a href="<%= @post.link %>"><%= @post.title %></a>
</h3>
<p>
  <%=pluralize(@post.vote, "vote")%>
</p>
<div class="well">
<h3>Comments</h3>
<% @post.comments.each do |comment| %>
<blockquote>
  <p><%=comment.text%></p>
  <footer>by <%=comment.author%></footer>
</blockquote>

<% end %>
</div>
<%= link_to 'Add a comment', new_post_comment_path(@post), class: "btn btn-primary"%>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
